.container {
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 221, 221);
  flex-direction: column;
}

.forgot{
    display: flex;
    width: 100%;
    height: 40vh;
    text-align: center;
    justify-content: center;
    align-items: end;
    
}


.form {
  background-color: rgba(255, 255, 255, 0.877);
  padding: 20px;
  height: 500px;
  width: 25vw;
  border-radius: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  @media (max-width: 900px) {
    width: 60vw;
    height: 40vh;
  }
  @media (max-width: 1300px) {
    width: 60vw; 
  }
  @media (max-width: 400px) {
    width: 60vw; 
    height: 50vh;
  }
}
