.input{
    border-radius: 20px;
    background-color: gray;
    width: 120px;
    transition: 0.5s;
}
.input:focus{
    color: white;
    width: 150px;
    padding-left: 5px;
}
.searchBar{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    position: relative;
    left: 10px;
}