.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    color: black;
    height: 84vh;
    padding-top: 15px;
}

.cards{
    width: 80vw;
}
.filterBtn{
    display: none;
}
@media screen and (max-width: 500px){
    
    .filterBtn{
        display: block;
        position: absolute;
        top:100px;
        left: 10px;
    }
    
}
