.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    color: black;
    height: 84vh;
    padding-top: 15px;
}

.cards{
    width: 80vw;
}
.filterBtn{
    display: none;
}
@media screen and (max-width: 500px){
    .container{
        flex-direction: column;
        padding-top: 0;
        height: 75vh;
        justify-content:start;
    }
    .cards{
        width: 100vw;
        height: 95%;
    }
    .filterBtn{
        display: block;
        width: 100vw;
        border-radius: 0;
    }
    
}
