.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    color: black;
    height: 84vh;
    padding-top: 15px;
}

.cards{
    width: 80vw;
}
