.NavbarNext{
    padding: 10px;
    width: 100vw;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.subNavbar{
    width: 100%;
    color: black;

}
.containerNavBar{
    position: absolute;
    left: -16%;
    width: 130%;
    display: flex;
}
/* .buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100vw;
    
} */

.cart{
    position: absolute;
    right: 0%;
    top: 55px;
    transition: 1s;
    z-index: 1;
    animation: open .5s;
}

.pepe{
    position: absolute;
    right: -30%;
    top: 55px;
    transition: ease .5s;
    animation: closed .5s;
    z-index: 1;
}

@keyframes closed {
    0% {
        right: 0%;
    }
}

@keyframes open {
    0% {
        right: -30%;
    }
}

.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttons{
    display: flex;
    align-self: end;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.button{
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.menuNavBar{
    top: 65px;
    background-color: rgba(240, 248, 255, 0.575);
    color: black;
    width: 50%;
}
.notSelected{
    color: black;
}
.notSelectedItem{
    color: black;
    font-size: 1.7rem;
}
.selected{
    color: rgb(107, 221, 107);
}
.selectedItem{
    font-size: 1.7rem;
    color: rgb(107, 221, 107);
}
@media screen and (max-width: 1320px) {
    .containerNavBar{
        width: 120%;
        left: -10%;
    }
}
@media screen and (max-width: 1220px) {
    .containerNavBar{
        width: 110%;
        left: -5%;
    }
}
@media screen and (max-width: 1220px) {
    .containerNavBar{
        width: 100%;
        left: 0;
    }
}
@media screen and (max-width: 700px) {
    .searchBar{
        left: 40%;
    }
    
}