.NavbarNext{
    padding: 10px;
    width: 100vw;
    height: 8vh;
    background-color: rgb(255, 255, 255);
}
.subNavbar{
    width: 100%;
    color: black;
    
}
/* .buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100vw;
    
} */

.cart{
    position: absolute;
    right: 0%;
    top: 55px;
    transition: 1s;
    z-index: 1;
    animation: open .5s;
}

.pepe{
    position: absolute;
    right: -30%;
    top: 55px;
    transition: ease .5s;
    animation: closed .5s;
    z-index: 1;
}

@keyframes closed {
    0% {
        right: 0%;
    }
}

@keyframes open {
    0% {
        right: -30%;
    }
}

.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttons{
    display: flex;
    align-self: end;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.button{
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:5%;
}